@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

#__next {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Main loader animation */

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

.circle {
  @apply w-4 h-4 my-12 mx-1 bg-mainColor dark:bg-loaderCircleBgDark rounded-full;
}

/* Calendar  */

.fc-scrollgrid-sync-table tbody tr:nth-child(6) {
  @apply hidden;
}
.fc-button {
  @apply !outline-0 border border-inputBorder dark:border-inputBorderDark  text-primaryText placeholder-secondaryText dark:placeholder-secondaryTextDark dark:text-primaryTextDark hover:!border-inputBorderHover hover:dark:!border-inputBorderHoverDark transition hover:dark:bg-inputBgHoverDark hover:!bg-outlinedButtonBgHover !bg-inputBg dark:!bg-inputBgDark !border-inputBorder dark:!border-inputBorderDark;
}
.fc-button-primary {
  @apply !text-primaryText dark:!text-primaryTextDark;
}
.fc th,
.fc td,
.fc table {
  @apply border-calendarBorder dark:!border-calendarBorderDark;
}
.fc td {
  @apply max-h-12;
}
.fc-daygrid-day {
  @apply hover:dark:!bg-[rgb(255,255,255,0.02)] transition;
}
.fc-day-disabled {
  @apply dark:bg-[rgb(0,0,0,0)] !bg-[rgb(255,255,255,0.05)];
}
.fc-daygrid-day-number {
  font-size: 1.5rem;
}
.fc-daygrid-block-event {
  @apply dark:bg-calendarMainColorDark bg-calendarMainColor border-none;
}
.fc-daygrid-event-dot {
  @apply dark:border-calendarMainColorDark  border-calendarMainColor;
}
.fc-list-event-dot {
  @apply dark:!border-calendarMainColorDark  !border-calendarMainColor;
}
.fc-v-event {
  @apply dark:bg-calendarMainColorDark bg-calendarMainColor  border-none;
}
.fc-list-day-cushion,
.fc-list-day {
  @apply dark:bg-secondaryBgDark dark:!border-calendarBorderDark !bg-calendarListDayHeaderBg;
}
.fc-list {
  @apply dark:!border-calendarBorderDark border-mainBorder;
}
.fc {
  --fc-page-bg-color: calendarBorderDark !important;
  --fc-list-event-hover-bg-color: rgb(255, 255, 255, 0.02);
}
.fc-day-today {
  @apply dark:!bg-inputBgDark dark:hover:!bg-inputBgDark !bg-calendarTodayBg;
}
.fc-view-harness,
.fc-scrollgrid-sync-table {
  @apply max-h-[35rem] md:max-h-[55rem];
}
.fc-toolbar-title {
  @apply text-primaryText dark:text-primaryTextDark;
}
.fc-col-header-cell-cushion {
  @apply text-primaryText dark:text-primaryTextDark;
}
.fc-event-time,
.fc-event-title {
  @apply text-primaryText dark:text-primaryTextDark;
}
.fc-daygrid-day-number {
  @apply text-primaryText dark:text-primaryTextDark;
}
.fc-cell-shaded {
  @apply !bg-calendarListDayHeaderBg dark:!bg-calendarListDayHeaderBgDark;
}
.fc-list-day-text,
.fc-list-day-side-text,
.fc-list-event-time,
.fc-list-event-title,
.fc-timegrid-axis-cushion,
.fc-timegrid-slot-label-cushion {
  @apply text-primaryText dark:text-primaryTextDark;
}
.fc-theme-standard .fc-scrollgrid {
  @apply border-mainBorder dark:border-mainBorderDark;
}
.fc-listMonth-view {
  @apply !border-mainBorder dark:border-mainBorderDark;
}
.fc-list-empty-cushion {
  @apply text-primaryText dark:text-primaryTextDark;
}
.fc-list-empty {
  @apply !bg-calendarListDayHeaderBg dark:!bg-calendarListDayHeaderBgDark;
}
.fc-toolbar-chunk .fc-toolbar-title {
  @apply capitalize;
}

@media (max-width: 768px) {
  .fc-media-screen {
    max-height: 100vh !important;
  }
}

@media (max-width: 768px) {
  .fc-media-screen {
    height: 90rem;
    padding-inline: 1rem;
  }
  .fc-toolbar-chunk {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }
  .fc-header-toolbar {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0rem;
    padding-top: 1rem;
    width: 100%;
  }
  .fc-today-button {
    display: none !important;
  }
  .fc-toolbar-title {
    font-size: 1.1rem !important;
  }
  .fc-list-event-title,
  .fc-list-event-graphic {
    border-width: 0 !important;
  }
}

@media (max-width: 650px) {
  .fc-media-screen {
  }
  .fc-toolbar-chunk {
    width: 49%;
  }
  .fc-header-toolbar {
    max-width: 19.5rem;
    margin-left: 0rem;
  }
  .fc-list-event .fc-list-event-time {
    min-width: 100%;
  }
  .fc-list-event {
    display: flex;
    flex-wrap: wrap;
  }
  .fc-list-day-cushion {
  }
}

.fc .fc-list-sticky .fc-list-day > * {
  position: relative;
}

/* Overwrite of some Tremor styles to adjust data charts for multiple themes */
/* Styles below will cease to be needed once Tremor allows custom colors for charts */

/* Primary chart background for bar chart rectangles, e.g. 1st and 3rd chart in HomeSmallCards component*/
.recharts-wrapper .fill-purple-500 {
  @apply dark:!fill-chartPrimaryBgDark !fill-chartPrimaryBg;
}

/* Primary chart background - for donut chart on Homepage */
.recharts-wrapper .fill-blue-500 {
  @apply dark:!fill-chartPrimaryBgDark !fill-chartPrimaryBg;
}

/* Secondary chart background for bar chart rectangles, e.g. 2nd and 4th chart in HomeSmallCards component */
.recharts-wrapper .fill-cyan-500 {
  @apply fill-chartSecondaryBg dark:fill-chartSecondaryBgDark;
}

/* Slightly lighter background for bar chart rectangles in Performance chart in Sandstone theme */
.recharts-wrapper .fill-amber-500 {
  @apply fill-amber-200;
}

/* Main Tremor card component */
.tremor-Card-root {
  @apply border border-mainBorder dark:!border-mainBorderDark bg-primaryBg dark:bg-primaryBgDark;
}

/* Better contrast for Tremor reddish badge */
.tremor-TableCell-root .text-rose-500,
.tremor-ListItem-root .text-rose-500 {
  @apply text-redBadgeText dark:text-redBadgeTextDark;
}

/* Better contrast for Tremor warning badge */
.tremor-TableCell-root .text-orange-500,
.tremor-ListItem-root .text-orange-500 {
  @apply text-orangeBadgeText dark:text-orangeBadgeTextDark;
}

/* Better contrast for Tremor greenish badge */
.tremor-TableCell-root .text-emerald-500,
.tremor-ListItem-root .text-emerald-500 {
  @apply text-greenBadgeText dark:text-greenBadgeTextDark;
}

/* Chart backgrounds for dots in Tremor legend/tooltip components */
.tremor-Legend-root .text-cyan-500 {
  @apply text-chartSecondaryBg dark:text-chartSecondaryBgDark;
}
.tremor-Legend-root .text-blue-500 {
  @apply text-chartPrimaryBg dark:text-chartPrimaryBgDark;
}
.recharts-tooltip-wrapper .bg-blue-500 {
  @apply bg-chartPrimaryBg dark:bg-chartPrimaryBgDark;
}
.tremor-Legend-root .text-purple-500 {
  @apply text-chartPrimaryBg dark:text-chartPrimaryBgDark;
}
.recharts-tooltip-wrapper .bg-purple-500 {
  @apply bg-chartPrimaryBg dark:bg-chartPrimaryBgDark;
}
.recharts-tooltip-wrapper .bg-cyan-500 {
  @apply bg-chartSecondaryBg dark:bg-chartSecondaryBgDark;
}
.recharts-tooltip-stable .tremor-Legend-root .text-blue-500 {
  @apply text-blue-600;
}
.recharts-tooltip-stable .recharts-tooltip-wrapper .bg-blue-500 {
  @apply bg-blue-600;
}
.recharts-tooltip-stable .recharts-wrapper .fill-blue-500 {
  @apply !fill-blue-600;
}
.recharts-scatter-symbol {
  @apply stroke-none;
}

/* Blur for tooltips and dropdowns in Prismatic theme. To be deleted in case of performance issues */
.recharts-tooltip-wrapper {
  backdrop-filter: blur(25px);
}
.shadow-tremor-dropdown {
  backdrop-filter: blur(25px);
}

/* Active button in Year Overview section */
.yearOverview .tremor-TabList-root button[data-headlessui-state="selected"] {
  @apply text-mainColor dark:text-mainColorDark;
}

/* Hide unnecessary grid lines in Tremor bar charts */
.small-box .recharts-cartesian-grid-horizontal {
  display: none;
}

/* Hide colored bar on mobile in Analytics/Assset Performance component */
.text-tremor-default .w-44 {
  @apply hidden sm:flex;
}

/* Add margin for mobile resolution of legend section im bars single chart page */
.single-chart-bars .tremor-Legend-root {
  @apply mb-6 sm:mb-2;
}

/* Hide outline until better solution for styling input borders on multiple themes is developed */
/* Accessibility issue */
:focus-visible {
  outline: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;

  box-shadow: inset 0 0 20px 20px rgb(255, 255, 255, 0.03);
}

/* Colors for lightbox gallery on products page */
.yarl__container {
  @apply !bg-galleryBg dark:!bg-galleryBgDark  backdrop-blur-md dark:bg-secondaryBgDark;
}
.yarl__thumbnails_container {
  @apply !bg-galleryBg dark:!bg-galleryBgDark   backdrop-blur-md dark:bg-secondaryBgDark;
}
.yarl__thumbnails_vignette {
  background: none !important;
}
.yarl__thumbnails_thumbnail {
  @apply !border-mainBorder dark:!border-mainBorderDark !bg-galleryThumbnailBg dark:!bg-galleryThumbnailBgDark backdrop-blur-md dark:bg-secondaryBgDark;
}

/* React Datepicker adjustments */
.react-datepicker__tab-loop {
  margin-left: 0 !important;
}
.react-datepicker {
  @apply backdrop-blur-md !bg-primaryBg dark:!bg-primaryBgDark !border-mainBorder dark:!border-mainBorderDark !text-primaryText dark:text-primaryTextDark;
}
.react-datepicker * {
  @apply !text-primaryText dark:text-primaryTextDark;
}
.react-datepicker__header {
  @apply !bg-datepickerHeaderBg dark:!bg-secondaryBgDark !border-mainBorder dark:!border-mainBorderDark;
}
.react-datepicker__day-name {
  @apply !text-gray-400 dark:text-secondaryTextDark;
}
.react-datepicker__day:hover {
  @apply !bg-mainBorder dark:!bg-navItemBgHoverDark;
}
.react-datepicker__day--selected {
  @apply !bg-mainColor dark:!bg-mainColorDark !text-white dark:!text-white;
}
.react-datepicker__day--keyboard-selected {
  @apply !bg-mainColor dark:!bg-mainColor !text-white dark:!text-white;
}
.react-datepicker__day--selected:hover {
  @apply !bg-mainColor dark:!bg-mainColorDark !text-white dark:!text-white;
}
.react-datepicker__day--keyboard-selected:hover {
  @apply !bg-mainColor dark:!bg-mainColorDark !text-white dark:!text-white;
}

/* Gradient background for prismatic theme */
.gradientBackground {
  background-color: hsla(216, 32%, 16%, 1);
  background-image: radial-gradient(
      at 91% 92%,
      hsla(213.7, 26%, 42.9%, 0.80) 0px,
      transparent 50%
    ),
    radial-gradient(at 88% 16%, hsl(215.2, 31.7%, 39%) 0px, transparent 50%),
    radial-gradient(at 34% 27%, hsl(213.4, 27.9%, 42.9%) 0px, transparent 50%),
    radial-gradient(at 18% 86%, hsl(220.4, 38.5%, 28%) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsl(215.7, 28.8%, 32%) 0px, transparent 50%);
}
