@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

.circle {
  @apply w-4 h-4 my-12 mx-1 bg-mainColor dark:bg-loaderCircleBgDark rounded-full;
}

html,
body {
  padding: 0;
  margin: 0;
}

#__next {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tr-shadow {
  box-shadow: rgba(58, 53, 65, 0.1) 0px 2px 10px 0px !important;
  border-radius: 12px !important;
}
.small-box .recharts-cartesian-grid-horizontal {
  display: none;
}
.paper {
  @apply bg-primaryBg xl:rounded-[12px] shadow-lg dark:bg-primaryBgDark border dark:border-mainBorderDark border-mainBorder;
}
.tremor-Legend-root {
  @apply mb-4 lg:mb-0;
}
/* Calendar  */

.fc-scrollgrid-sync-table tbody tr:nth-child(6) {
  @apply hidden;
}
.fc-button {
  @apply !outline-0 border border-inputBorder dark:border-inputBorderDark  text-primaryText placeholder-secondaryText dark:placeholder-secondaryTextDark dark:text-primaryTextDark hover:dark:!border-inputBorderHoverDark transition hover:dark:bg-inputBgHoverDark !bg-inputBg dark:!bg-inputBgDark !border-inputBorder dark:!border-inputBorderDark;
}
.fc-button-primary {
  @apply !text-primaryText dark:!text-primaryTextDark;
}
.fc th,
.fc td,
.fc table {
  @apply border-calendarBorder dark:!border-calendarBorderDark;
}
.fc td {
  @apply max-h-12;
}
.fc-daygrid-day {
  @apply hover:dark:!bg-[rgb(255,255,255,0.02)] transition;
}

.fc-day-disabled {
  @apply dark:bg-[rgb(0,0,0,0)];
}
.fc-daygrid-day-number {
  font-size: 1.5rem;
}
.fc-daygrid-block-event {
  @apply dark:bg-calendarMainColorDark bg-calendarMainColor border-none;
}
.fc-daygrid-event-dot {
  @apply dark:border-calendarMainColorDark  border-calendarMainColor;
}
.fc-list-event-dot {
  @apply dark:!border-calendarMainColorDark  !border-calendarMainColor;
}
.fc-v-event {
  @apply dark:bg-calendarMainColorDark bg-calendarMainColor  border-none;
}
.fc-list-day-cushion,
.fc-list-day {
  @apply dark:bg-secondaryBgDark dark:!border-calendarBorderDark;
}
.fc-list {
  @apply dark:!border-calendarBorderDark;
}
.fc {
  --fc-page-bg-color: calendarBorderDark !important;
  --fc-list-event-hover-bg-color: rgb(255, 255, 255, 0.02);
}
.fc-day-today {
  @apply dark:!bg-inputBgDark dark:hover:!bg-inputBgDark !bg-calendarTodayBg;
}
.fc-view-harness,
.fc-scrollgrid-sync-table {
  @apply max-h-[35rem] md:max-h-[55rem];
}
@media (max-width: 768px) {
  .fc-media-screen {
    max-height: 100vh !important;
  }
}
@media (max-width: 768px) {
  .fc-media-screen {
    height: 90rem;
    padding-inline: 1rem;
  }
  .fc-toolbar-chunk {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }
  .fc-header-toolbar {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0rem;
    padding-top: 1rem;
    width: 100%;
  }
  .fc-today-button {
    display: none !important;
  }
  .fc-toolbar-title {
    font-size: 1.1rem !important;
  }
  .fc-list-event-title,
  .fc-list-event-graphic {
    border-width: 0 !important;
  }
}
@media (max-width: 650px) {
  .fc-media-screen {
  }
  .fc-toolbar-chunk {
    width: 49%;
  }
  .fc-header-toolbar {
    max-width: 19.5rem;
    margin-left: 0rem;
  }
  .fc-list-event .fc-list-event-time {
    min-width: 100%;
  }
  .fc-list-event {
    display: flex;
    flex-wrap: wrap;
  }
  .fc-list-day-cushion {
  }
}
.fc .fc-list-sticky .fc-list-day > * {
  position: relative;
}
/* Single charts */

.single-chart-wrapper {
  @apply w-3/4   max-w-full m-auto mt-14  lg:mt-16 xl:mt-24 2xl:mt-28 mb-36;
}
.single-chart-wrapper .tremor-Legend-root {
  @apply mb-8;
}

.single-chart-title {
  @apply text-2xl w-full text-left mb-6;
}

/* Overwrite of some Tremor colors */

.fill-purple-500 {
  @apply dark:!fill-[#7376f2] !fill-[#d4a8ff];
}
.bg-emerald-100 {
  @apply bg-emerald-200;
}
.bg-rose-100 {
  @apply bg-rose-200;
}
.tremor-Card-root {
  @apply border border-primaryBg dark:!border-mainBorderDark;
}
.text-rose-500 {
  @apply text-rose-300;
}
.text-orange-500 {
  @apply text-orange-300;
}

/* Forms & buttons */

.form-element-styled {
  @apply !outline-0 border border-inputBorder dark:border-inputBorderDark bg-inputBg dark:bg-inputBgDark text-primaryText placeholder-secondaryText dark:placeholder-secondaryTextDark dark:text-primaryTextDark hover:dark:!border-inputBorderHoverDark transition hover:dark:bg-inputBgHoverDark;
}

:focus-visible {
  outline: none !important;
}

.button-outlined {
  @apply !outline-0 border border-inputBorder dark:border-inputBorderDark bg-inputBg dark:bg-inputBgDark text-primaryText placeholder-secondaryText dark:placeholder-secondaryTextDark dark:text-primaryTextDark  transition  bg-inputBg dark:bg-inputBgDark hover:bg-outlinedButtonBgHover hover:dark:bg-outlinedButtonBgHoverDark;
}
.button-contained {
  @apply bg-mainColorSecondary dark:bg-mainColorSecondaryDark dark:hover:bg-mainColorSecondaryHoverDark hover:bg-mainColorSecondaryHover text-white p-2 rounded-md  focus:outline-none focus:border-blue-700 focus:ring focus:ring-blue-200;
}
.transition-transform {
  transition: transform 0.3s ease-in-out;
}
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  /* Centering */
  top: 45vh !important;
  left: 50% !important;
}
#nprogress .spinner-icon {
  width: 50px !important;
  height: 50px !important;
  border-top-color: #06b6d4 !important;
  border-left-color: #06b6d4 !important;
}
